body{
  background-image: url(http://drexel.edu/~/media/Images/coresite/backgrounds/colored-backgrounds/blue-bg/mobile.ashx);
  background-size: cover;
}
div{
 
 margin:2%;
  float:left;
  text-align: center;
  display:inline-block;
}
div.clear{
  float:left;
  display:inline-block;
  clear:both;
}
img{
  width:350px;
  height:350px;
}
input[type=submit]{
  float:right;
  clear:both;
}
input[type=text]{
  float:right;
}
#wrapper {
    width: 70%;
    margin: 0 auto;
}
