body{
  background-image: url(http://cdn.pcwallart.com/images/pink-gradient-wallpaper-3.jpg);
  background-size: cover;
}
div{
  margin: 2%;
  float:left;
  text-align: center;
  display:inline-block;
}
div.clear{
  float:left;
  display:inline-block;
  clear:both;
}
img{
  width:350px;
  height:350px;
}
input[type=submit]{
  float:right;
  clear:both;
}
input[type=text]{
  float:right;
}
